In [1]:
import pandas as pd

In [4]:
data=pd.read_sql('project.com.sql')

TypeError: read_sql() missing 1 required positional argument: 'con'

In [ ]:
data